* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #FF996B;
}

body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

#logo {
    font-size: 56px;
}

