* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #FF996B;
    --cor-secundaria: #37B87A;
    --black: #111;
}

body {
    width: 100%;
    min-height: 100vh;
}

/* Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

#logo {
    font-size: 56px;
    line-height: 61px;
    font-weight: 400;
}

/* Main */

main {
    width: 100%;
    min-height: 80vh;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

#title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
}

#flag, #inputGuess {
    width: 256px;
}

#inputGuess {
    font-size: 16px;
    line-height: 19px;
    padding: 8px 32px;
    box-sizing: border-box;
    border: var(--black) solid 1px;
    border-radius: 8px;
}

/* Footer */

footer {
    background-color: var(--cor-secundaria);
    padding: 8px 32px;
    justify-self: flex-end;
}